name: Auto add Issues & PRs to Project

on:
  issues:
    types: [opened, reopened]
  pull_request:
    types: [opened, reopened]
  workflow_dispatch:

# Pozn.: když používáš PAT v secrets.PROJECTS_TOKEN, permissions blok tu ani být nemusí.
# Pokud ho chceš nechat, použij PŘESNĚ tyto klíče:
permissions:
  contents: read
  issues: write
  pull-requests: write
  repository-projects: write

jobs:
  add_to_project:
    runs-on: ubuntu-latest
    steps:
      - name: Add item to Holly 2.0 – Alpha Roadmap
        uses: actions/add-to-project@v0.6.1
        with:
          project-url: https://github.com/users/jamajka666/projects/3
          github-token: ${{ secrets.PROJECTS_TOKEN }}
